@media (max-width:1024px){
    h1{
        font-size: 3.5rem;

    }
    h2{
        font-size: 1.375rem;
        line-height: 1.8rem;
        
    }
    .wrapper{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

@media(max-width:991px){
h4,
.choose .card a h4 {
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
}
p{
    font-size: 0.8125rem;
    line-height: 1.3125rem;

}
.text-content{
    width: 100%;
}
/* banner */
#home{
    padding: 4.375rem 0 0.375rem;
}
.navigation-wrap .nav-brand img{
    height: 2.8125rem;
}
.navbar-toggler{
    color: var(--text-color);
}
.navbar-toggler i{
    color: var(--text-color);
    line-height: 2;

}
.navigation-wrap{
    text-align: center;
    background-color: var(--black-color);
 }
 .navigation-wrap .nav-link{
    line-height: 1.875rem;
 }
 .hero_slider .carousel-caption {
    transform: translate(-70%, 50%);

 }
 .features .card .icon{
    margin-bottom: 20px;
 }
 #zoom-img,
 #zoom-img-1,
 #zoom-img-2{
    height: 13.75rem;
    width: 70%;
    text-align: center;
    margin: auto;

 }
 form input[type=text]{
        margin-bottom: 1rem !important;


}
@media (max-width: 767px){
    .main-btn{
        margin: auto;
    }
    .text-sec{
        text-align: center;
        padding-top: 1.875rem;
    }
    h2:before{
        left: 45%;
    }
    .hero_slider .carousel-caption {
    transform: translate(-45%, 70%);

 }
.hero_slider .carousel-caption h2::before {
left: 0;
 }
 }
@media(max-width:575px){
    h1{
        font-size: 1.5rem;
        margin-bottom: 0.675rem;
    }
    h2{
        font-size: 1.25rem;
        line-height: 1rem;
        margin-bottom: 5px;
    }
    .about-slider,
    .feature-img-box,
    .style-img{
        width: 50%;
        margin: auto;
    }
    .about-section .carousel-inner{
        border-radius: 0 0 1.875rem;
    }
    form input[type=email],
    form input[type=text],
    .subscribe{
        padding: 0 0.625rem;
        font-size: 0.875rem;
        text-align: center;

    }
    .subscribe{
        font-size: 0.875rem;
    }
    form .form-group,
    form input[type=text]{
        margin: 0 ;
        width: 100%;
     }
     form .form-group{
        white-space: nowrap;
     }
     form input[type=email]{
        width: 50%;
     }
     form input[type=text]{
        margin-bottom: 1rem !important;
     }

}
    
 }
@media (max-width:430px){
    h2:before{
        top:-0.8rem;
    }
.hero_slider .carousel-caption p {
font-size: 0.75rem;
line-height: 1.125rem;

 }
 }